@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    scroll-behavior: smooth;
}

h1,
h4,
.navbar-brand,
.nav-link,
.username,
.card-title,
small.d-block,
button.w-100,
div.keluar,
.beranda,
label {
    font-family: 'Quicksand', sans-serif;
}

small {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

/* navbar */
.navbar-brand {
    letter-spacing: 1px;
}

.navbar-nav:hover {
    margin-top: 1px !important;
}

.navbar-nav:hover .username {
    margin-top: -1px !important;
}

.nav-link:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #0D6EFD;
}

.registration:hover::after {
    height: 0;
}

.registration:hover {
    transform: scale(1.05);
    transition: all .3s;
}

.navbar-nav .username {
    margin-left: 48px !important;
}

/* fitur kami */
div.feature {
    display: grid;
    gap: 20px;
}

.feature img {
    width: 300px;
}

/* bantuan sosial */
.articles {
    display: grid;
    gap: 20px;
}

.card-body {
    position: relative;
}

.btn-main {
    position: absolute;
    bottom: 16px;
}

/* footer */
.text-decoration-none:hover {
    text-decoration: underline !important;
}

.social-media .nav-link:hover::after,
.dashboard .nav-link:hover::after {
    height: 0;
    visibility: hidden;
}

/* dashboard */
.navbar.dashboard {
    background: red;
    position: relative;
    z-index: 3 !important;
}

.nav-item .text-dark:hover {
    margin-top: -1px !important;
}

.dashboard nav {
    position: relative;
    z-index: 2;
    margin-top: -60px !important;
}

.dashboard main {
    position: relative;
    z-index: 1;
}

div.keluar {
    display: none !important;
}

.beranda:hover {
    text-decoration: none !important;
}

.edit:hover,
.detail:hover,
.hapus:hover {
    color: white;
}

.penerima:hover {
    text-decoration: none !important;
}

/* dashboard-temp */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.dashboard .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.dashboard .sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.dashboard .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.dashboard .sidebar .nav-link.active {
    color: #2470dc;
}

.dashboard .sidebar .nav-link:hover .feather,
.dashboard .sidebar .nav-link.active .feather {
    color: inherit;
}

.dashboard .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.dashboard .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    /* background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.dashboard .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.dashboard .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.dashboard .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* text editor */
trix-toolbar [data-trix-button-group="file-tools"] {
    display: none
}

@media screen and (min-width: 600px) {

    /* fitur kami */
    div.feature {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature img {
        width: 200px;
    }

    /* bantuan sosial */
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-main {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* footer */
    .social-media {
        width: 400px !important;
    }
}

@media screen and (min-width: 1000px) {

    /* fitur kami */
    div.feature {
        grid-template-columns: repeat(3, 1fr);
    }

    /* bantuan sosial */
    .articles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 991px) {

    /* navbar */
    .navbar-nav .nav-item {
        margin: 5px 0 !important;
    }

    .navbar-nav:hover {
        margin-top: 0 !important;
    }

    .nav-link:hover::after {
        height: 0;
        visibility: hidden;
    }

    .authentication {
        display: flex;
        flex-direction: column;
        margin-left: 0 !important;
    }

    .navbar-nav .username {
        display: block;
        margin-left: 0 !important;
    }

    .list-group.ms-2 {
        margin: 15px 0 0 !important;
    }
}

@media screen and (max-width: 767px) {

    /* footer */
    footer .description {
        flex-direction: column;
    }

    .social-media {
        width: 350px !important;
    }

    .description section {
        margin-bottom: 20px !important;
    }

    /* dashboard */
    .dashboard .keluar {
        display: none;
    }

    div.keluar {
        display: block !important;
    }

    .dashboard nav {
        margin: -150px auto 100px !important;
    }
}

.input-style-1 {
    position: relative;
    margin-bottom: 30px;
}
.input-style-1 label {
    font-size: 14px;
    font-weight: 500;
    color: #262d3f;
    display: block;
    margin-bottom: 10px;
}
.input-style-1 input,
.input-style-1 textarea {
    width: 100%;
    background: rgba(239, 239, 239, 0.5);
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 16px;
    color: #5d657b;
    resize: none;
}
.input-style-1 input:focus,
.input-style-1 textarea:focus {
    border-color: #2f80ed;
}
.input-style-1 input[type="date"],
.input-style-1 input[type="time"],
.input-style-1 textarea[type="date"],
.input-style-1 textarea[type="time"] {
    background: transparent;
}